td, th {
    width: 30px;
    height: 30px;
}
td {
    border: 1px solid black;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}
div {
    display: inline-block;
    box-sizing: border-box;
}
table {
    display: inline-block;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
ul {
    padding: 5px;
}
#horizontal, #vertical {
    width: 300px;
}
#horizontal-clues, #vertical-clues {
    border: 1px solid black;
    overflow-y: scroll;
}
.semi-selected {
    background-color: grey;
}
td.selected-box, .selected-clue {
    background-color: yellow;
}
td.cheated {
    background-color: blue;
}
td.wrong-letter {
    background-color: red;
}
.selected-clue {
    display: inline;
}
.blacked-out {
    background: black;
}
.solved-clue {
    text-decoration: overline;
}
