td, th {
    width: 30px;
    height: 30px;
}

td {
    border: 1px solid grey;
}

div {
    display: inline-block;
    box-sizing: border-box;
}

table {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#horizontal, #vertical {
    width: 300px;
}

#horizontal-clues, #vertical-clues {
    border: 1px solid grey;
}

.blacked-out {
    background: black;
}

.selected-box {
    background: yellow;
}

.selected-clue {

}
