td, th {
    width: 30px;
    height: 30px;
}

td {
    border: 1px solid black;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

div {
    display: inline-block;
    box-sizing: border-box;
}

table {
    display: inline-block;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#horizontal, #vertical {
    width: 300px;
}

#horizontal-clues, #vertical-clues {
    border: 1px solid black;
}

.selected {
    background-color: grey;
}

td.selected-box {
    background-color: yellow;
}

.blacked-out {
    background: black;
}

.selected-clue {

}
